:root {
  touch-action: pan-x pan-y;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFB178;
    color: rgb(191, 191, 191);
}
.container{
    position: relative;
    left: 35%;
    width: 350px;
    background-color: #243441;
    backdrop-filter: blur (10px);
    border-radius: 20px;
    padding: 40px 30px;
    height: auto;
    text-align:center;
}
canvas{
    background-color: #13181d25;
    padding: 15px;
    border-radius: 10px;
}
.score{
    margin: 0;
    font-weight: 300;
}
.btn-wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.btn{
    padding: 10px;
    height: 75px;
    width: 75px;
    color: #ED802E;
    background-color: #243441;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease 0s;
    cursor: pointer;
    font-weight: 800;
    font-size: 40px
}
.btn-orange{
    background-color: #ED802E;
    color: #243441;
}
